@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .app {
        display: grid;
        grid-template-rows: 10vh 1fr;
        grid-template-columns: repeat(20, minmax(0, 1fr));
    }
    .primary-heading {
        @apply text-white font-black text-3xl;
    }
    .navbar {
        @apply bg-slate-800 p-4 flex justify-between;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 21;
    }
    .friends-bar {
        @apply bg-slate-800 h-screen flex flex-col items-center;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .active-menu {
        display: block !important;
    }
    .menu {
        @apply hidden absolute right-2 top-14 bg-slate-800;
    }
    .menu>h3 {
        @apply text-white text-lg px-4 py-2 font-semibold cursor-pointer hover:bg-white hover:text-black;
    }
    .auth-input-container {
        @apply mb-2;
    }
    .auth-input {
        @apply outline-none rounded-lg pl-2 py-2 text-lg;
    }
    .auth-input-error-text {
        @apply my-0 hidden text-xs font-semibold self-start pl-5;
    }
    .notification {
        @apply py-4 text-white font-semibold rounded-md absolute top-8 -right-full cursor-pointer;
    }
    .animate-bar {
        animation: animation-bar 3s linear forwards;
    }
    .animate-slide-out {
        animation: animation-slide-out 0.2s linear forwards;
    }
    .animate-slide-in {
        animation: animation-slide-in 0.2s linear forwards;
    }

    @keyframes animation-bar {
        from {
            width: 100%;
        }
        to {
            width: 0%;
        }
    }
    @keyframes animation-slide-in {
        from {
            right: -100%;
        }
        to {
            right: 1.25rem;
        }
    }
    @keyframes animation-slide-out {
        from {
            right: 1.25rem;
        }
        to {
            right: -100%;
        }
    }



    /*menu area*/
    .profile {
        @apply hidden bg-slate-800;
        grid-row-start: 2;
        grid-column-start: 18;
        grid-column-end: 21;
    }
    .active-profile {
        display: block !important;
    }
}